 <blockquote>
        <p><%= @student.name %></p>
        <small><%= @student.sex %></small>
        <small><%= @student.age %></small>
        <small><%= @student.dob %></small>
        <small><%= @student.current_school %></small>
        <small><%= @student.current_level %></small>
        <small><%= @student.country %></small>
        <small><%= @student.sat_score %></small>
         <% @college_list.each do |var| %>
    <small><%=  var.name %></small>
    <% end %>
        <small><%= @mentor.name %></small>
      </blockquote>
      
    