 <blockquote>
        <p><%= @student.name %></p>
        <small><%= @student.sex %></small>
        <small><%= @student.age %></small>
        <small><%= @student.dob %></small>
        <small><%= @student.current_school %></small>
        <small><%= @student.current_level %></small>
        <small><%= @student.country %></small>
        <small><%= @student.sat_score %></small>
        <small><%= @student.applied_colleges %></small>
      </blockquote>
      
    