<div class="row">

  <div class="col-md-6 col-md-offset-3">
    
    
      <h3>Edit a Mentor</h3>
  <%= simple_form_for @mentor do |f| %>
  <%= f.input :name %>
  <%= f.input :sex, collection: ["Male", "Female"] %>
  <%= f.input :age, collection: 15..100 %>
  <%= f.input :dob %> 
  <%= f.input :bio %> 
  <%= f.button :submit %>
<% end %>
      </div>
</div>

