 <blockquote>
        <p><%= @mentor.name %></p>
        <small><%= @mentor.sex %></small>
        <small><%= @mentor.age %></small>
        <small><%= @mentor.dob %></small>
        <small><%= @mentor.bio %></small>
        
      </blockquote>
      
    