 <blockquote>
        <p><%= @college.name %></p>
        <small><%= @college.country %></small>
        <small><%= @college.sat_min_score %></small>
        <small><%= @college.sat_max_score %></small>
        <small><%= @college.tution_fees %></small>
        
      </blockquote>
      
    